.container {
  width: 600px;
  margin: 0 auto;
}

header {
  font-size: 150px;
  font-family: 'Playfair Display', serif;
  margin: 0px;
  margin-top: 5%;
}

.header-small {
  display: none;
}

footer {
  font-size: 150px;
  font-family: 'Playfair Display', serif;
  margin-top: -30px;
}

section {
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 width: 560px;
 font-weight: 300;
 margin: 0px;
}

div {
  margin-bottom: 15px;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: blue;
}
a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {

  .container {
    width: 350px;
  }

  header {
    font-size: 75px;
  }

  footer {
    font-size: 75px;
    margin-top: -20px;
  }

  section {
   width: 320px;
  }

}

@media only screen and (max-width: 600px) {

  .container {
    width: 350px;
  }

  header {
    font-size: 75px;
  }

  footer {
    font-size: 75px;
    margin-top: -20px;
  }

  section {
   width: 320px;
  }

@media only screen and (max-width: 450px) {

  header {
    display: none;
  }

  footer {
    display: none;
  }

  .header-small {
    display: block;
    font-size: 55px;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    margin-top: 5%;
    margin-bottom: 10px;
  }

}
